<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<% post.tags.forEach(function(t){ %>
  <a href="/tags/<%= t.id %>">
    #<%= t.content %>
  </a>
<% }); %>

<hr />

<form action="/posts/<%= post.id %>/comments" method="POST">
  <h2>Add Comment</h2>
  <div class="form-group">
    <label>Name</label>
    <input name="name" type="text" class="form-control" placeholder="Enter name or leave blank for Anonymous">
  </div>
  <div class="form-group">
    <label>Comment</label>
    <textarea name="content" class="form-control" placeholder="Enter comment"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-default">
  </div>
</form>

<h2>Comments</h2>

<% post.comments.forEach(function(comment, index) { %>
  <div class="well">
    <h4><%= comment.name %></h4>
    <p><%= comment.content %></p>
  </div>
<% }); %>

<a href="/">&larr; Back Home</a>
